
include seaqube/benchmark/benchmark_datasets/dataset_map.json
include seaqube/benchmark/benchmark_datasets/README.md
include seaqube/benchmark/benchmark_datasets/*.csv

include seaqube/benchmark/benchmark_datasets/word-analogy/monolingual/en/semeval.csv
include seaqube/benchmark/benchmark_datasets/word-analogy/monolingual/en/google-analogies.csv
include seaqube/benchmark/benchmark_datasets/word-analogy/monolingual/en/sat.csv
include seaqube/benchmark/benchmark_datasets/word-analogy/monolingual/en/msr.csv
include seaqube/benchmark/benchmark_datasets/word-analogy/monolingual/en/jair.csv
include seaqube/benchmark/benchmark_datasets/word-categorization/monolingual/en/essli-2008.csv
include seaqube/benchmark/benchmark_datasets/word-categorization/monolingual/en/battig.csv
include seaqube/benchmark/benchmark_datasets/word-categorization/monolingual/en/bless.csv
include seaqube/benchmark/benchmark_datasets/word-categorization/monolingual/en/ap.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/simlex965.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/hj.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/simlex999.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/rt.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/ae2.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/YP-130.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/SemEval-2017.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/Rare-Word.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/MTurk-771.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/Verb-143.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/RG-65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/WordSim353-Relatedness.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/SimLex999.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/SimVerb-3500.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/MEN.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/WordSim353-Similarity.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/MTurk-287.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/ru/translated/MC-30.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/yp-130.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/mturk-771.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/verb-143.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/rg-65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/simlex999.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/rw.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/simverb-3500.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/wordsim353-rel.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/men.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/mturk-287.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/mc-30.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/monolingual/en/wordsim353-sim.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-es/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-es/rg65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-fr/rg65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/fr-es/rg65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-fa/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/it-fa/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/es-fa/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/de-fa/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-de/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-de/wordsim353.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-de/rg65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/de-es/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/de-es/rg65.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-it/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/en-it/wordsim353.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/es-it/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/de-it/semeval17.csv
include seaqube/benchmark/benchmark_datasets/word-similarity/cross-lingual/de-it/wordsim353.csv
include seaqube/benchmark/benchmark_datasets/semantic-relation/monolingual/en/sn.csv
include seaqube/benchmark/benchmark_datasets/semantic-relation/monolingual/en/bless.csv
include seaqube/benchmark/benchmark_datasets/outlier-detection/monolingual/en/wikisem500.csv
include seaqube/benchmark/benchmark_datasets/outlier-detection/monolingual/en/8-8-8.csv